/* App.css */

.container {
  display: flex;
}

.left-side,
.right-side {
  box-sizing: border-box;
}

.left-side {
  padding: 15px;
  flex: 1;
  /* Khung bên trái chiếm 1/4 */
  background-color: white;
  color: black;
  margin-right: 15px;
  /* Khoảng cách 15px với khung bên phải */
  border-radius: 15px;

}

.left-side .button-container {
  margin-top: 10px;
  display: grid;
  gap: 5px;
}

.right-side {
  flex: 3;
  /* Khung bên phải chiếm 3/4 */
  color: black;
}

.divider {
  width: 15px;
  /* Khoảng cách 15px giữa hai khung */
}